{
  "_comment": "Ratchet (scripts/env_example_drift.py): bekannte Luecken zwischen den Settings-Klassen und .env.example. Darf nur schrumpfen; neue Luecken sind rot. Aktualisieren: python scripts/env_example_drift.py --update",
  "entries": [
    "ALERT_ALLOW_SHORT_NEWS",
    "ALERT_ALLOW_SHORT_TECHNICAL",
    "ALERT_MIN_DIRECTIONAL_CONFIDENCE_BULLISH",
    "ALERT_MIN_TECHNICAL_STRENGTH",
    "ALERT_REENTRY_TARGET_DATE",
    "ALERT_TECHNICAL_SCREENER_DYNAMIC_UNIVERSE",
    "ALERT_TECHNICAL_SCREENER_ENABLED",
    "ALERT_TECHNICAL_SCREENER_SYMBOLS",
    "ALERT_TECHNICAL_SCREENER_TOP_N",
    "ALERT_TRADINGVIEW_PAPER_FEED_ENABLED",
    "ALERT_TRADINGVIEW_SHADOW_FEED_ENABLED",
    "ANTHROPIC_MODEL",
    "ANTHROPIC_TIMEOUT",
    "APP_AI_BUDGET_UNKNOWN_MAX_CALLS_PER_DAY",
    "APP_AI_BUDGET_VALIDATION_RESERVE_MAX_CALLS",
    "APP_AI_BUDGET_VALIDATION_RESERVE_USD",
    "APP_AI_BUDGET_WARN_PCT",
    "APP_ANALYSIS_SHADOW_ENABLED",
    "APP_COINGECKO_OVERVIEW_API_KEY",
    "APP_COINGECKO_OVERVIEW_ENABLED",
    "APP_COINGECKO_OVERVIEW_REFRESH_TIMEOUT_SECONDS",
    "APP_COINGECKO_OVERVIEW_SHADOW_LOG_PATH",
    "APP_COINGECKO_OVERVIEW_SNAPSHOT_PATH",
    "APP_COINGECKO_OVERVIEW_SYMBOLS_CSV",
    "APP_COINGECKO_OVERVIEW_TTL_SECONDS",
    "APP_CROSS_EXCHANGE_VALIDATION_ENABLED",
    "APP_DIVERSIFICATION_ENABLED",
    "APP_DIVERSIFICATION_SHADOW_ONLY",
    "APP_DIVERSIFICATION_UNIVERSE_SCAN_ENABLED",
    "APP_DIVERSIFICATION_UNIVERSE_SCAN_LIMIT",
    "APP_FUNDING_EVIDENCE_ENABLED",
    "APP_FUNDING_EVIDENCE_REFRESH_TIMEOUT_SECONDS",
    "APP_FUNDING_EVIDENCE_SHADOW_LOG_PATH",
    "APP_FUNDING_EVIDENCE_SNAPSHOT_PATH",
    "APP_FUNDING_EVIDENCE_SOURCE_TRUST",
    "APP_FUNDING_EVIDENCE_TTL_SECONDS",
    "APP_HYPE_EVIDENCE_BASELINE_DAYS",
    "APP_HYPE_EVIDENCE_BREADTH_SATURATION",
    "APP_HYPE_EVIDENCE_DAMPEN_ONLY",
    "APP_HYPE_EVIDENCE_ENABLED",
    "APP_HYPE_EVIDENCE_MIN_MENTIONS",
    "APP_HYPE_EVIDENCE_MIN_SCORE_FOR_EVIDENCE",
    "APP_HYPE_EVIDENCE_RECENT_WINDOW_HOURS",
    "APP_HYPE_EVIDENCE_REFRESH_MAX_DOCUMENTS",
    "APP_HYPE_EVIDENCE_SHADOW_LOG_PATH",
    "APP_HYPE_EVIDENCE_SNAPSHOT_PATH",
    "APP_HYPE_EVIDENCE_SOURCE_TRUST",
    "APP_HYPE_EVIDENCE_TTL_SECONDS",
    "APP_HYPE_EVIDENCE_VELOCITY_SATURATION",
    "APP_INTEGRITY_AUDIT_PATHS",
    "APP_INTEGRITY_ENABLED",
    "APP_INTEGRITY_PROOFS_DIR",
    "APP_INTEGRITY_STAMPER",
    "APP_KYT_BEHAVIORAL_ENABLED",
    "APP_KYT_ENABLED",
    "APP_KYT_FAIL_MODE",
    "APP_KYT_PROVIDER",
    "APP_KYT_RETENTION_DAYS",
    "APP_KYT_SHADOW_ONLY",
    "APP_L2_EVIDENCE_ENABLED",
    "APP_L2_EVIDENCE_MIN_WINDOW",
    "APP_L2_EVIDENCE_SHADOW_LOG_PATH",
    "APP_L2_EVIDENCE_SOURCE_TRUST",
    "APP_L2_EVIDENCE_STREAM_PATH",
    "APP_L2_EVIDENCE_TTL_SECONDS",
    "APP_L2_EVIDENCE_WINDOW",
    "APP_LEARNING_ADAPTIVE_LEARNING_ENABLED",
    "APP_LEARNING_REASONING_JOURNAL_PATH",
    "APP_LEARNING_SNAPSHOT_DIR",
    "APP_LN_BLITZ_INFO_ENABLED",
    "APP_LN_BLITZ_INFO_SSH_KEY_PATH",
    "APP_LN_BLITZ_INFO_SSH_TARGET",
    "APP_LN_BLITZ_INFO_TIMEOUT_SECONDS",
    "APP_LN_CHANNEL_MACAROON_HEX",
    "APP_LN_CHANNEL_MACAROON_PATH",
    "APP_LN_ENABLED",
    "APP_LN_HOST",
    "APP_LN_HOTP_JOURNAL_PATH",
    "APP_LN_HOTP_SEED_PATH",
    "APP_LN_INVOICE_MACAROON_HEX",
    "APP_LN_INVOICE_MACAROON_PATH",
    "APP_LN_L402_DEFAULT_PRICE_SAT",
    "APP_LN_L402_ENABLED",
    "APP_LN_L402_MINT_BUDGET_PER_MIN",
    "APP_LN_L402_MINT_PER_MIN",
    "APP_LN_L402_SECRET",
    "APP_LN_MACAROON_HEX",
    "APP_LN_MACAROON_PATH",
    "APP_LN_ONCHAIN_MACAROON_HEX",
    "APP_LN_ONCHAIN_MACAROON_PATH",
    "APP_LN_PAYMENT_MACAROON_HEX",
    "APP_LN_PAYMENT_MACAROON_PATH",
    "APP_LN_PAY_ENABLED",
    "APP_LN_RECEIVE_ENABLED",
    "APP_LN_REPUTATION_INTERVAL_SECONDS",
    "APP_LN_REST_PORT",
    "APP_LN_SCB_BASELINE_PATH",
    "APP_LN_SCB_MAX_AGE_SECONDS",
    "APP_LN_SCB_PATH",
    "APP_LN_TIMEOUT_SECONDS",
    "APP_LN_TLS_CERT_PATH",
    "APP_LS_EVIDENCE_ENABLED",
    "APP_LS_EVIDENCE_INTERVAL",
    "APP_LS_EVIDENCE_REFRESH_TIMEOUT_SECONDS",
    "APP_LS_EVIDENCE_SHADOW_LOG_PATH",
    "APP_LS_EVIDENCE_SNAPSHOT_PATH",
    "APP_LS_EVIDENCE_SOURCE_TRUST",
    "APP_LS_EVIDENCE_TTL_SECONDS",
    "APP_MOMENTUM_EVIDENCE_DIRECTION_ALIGNED",
    "APP_MOMENTUM_EVIDENCE_ENABLED",
    "APP_MOMENTUM_EVIDENCE_LEDGER_PATH",
    "APP_MOMENTUM_EVIDENCE_SHADOW_LOG_PATH",
    "APP_MOMENTUM_EVIDENCE_SOURCE_TRUST",
    "APP_MOMENTUM_EVIDENCE_TTL_SECONDS",
    "APP_OI_EVIDENCE_ENABLED",
    "APP_OI_EVIDENCE_INTERVAL",
    "APP_OI_EVIDENCE_REFRESH_TIMEOUT_SECONDS",
    "APP_OI_EVIDENCE_SHADOW_LOG_PATH",
    "APP_OI_EVIDENCE_SNAPSHOT_PATH",
    "APP_OI_EVIDENCE_SOURCE_TRUST",
    "APP_OI_EVIDENCE_TTL_SECONDS",
    "APP_OI_EVIDENCE_ZSCORE_WINDOW",
    "APP_PAYMENT_AGENT_LIMITS_PATH",
    "APP_PAYMENT_APPROVAL_THRESHOLD_SAT",
    "APP_PAYMENT_DAILY_HARD_CAP_SAT",
    "APP_PAYMENT_DESTINATION_ALLOWLIST",
    "APP_PAYMENT_FEE_LIMIT_DEFAULT_PPM",
    "APP_PAYMENT_FEE_LIMIT_MAX_SAT",
    "APP_PAYMENT_FEE_LIMIT_MIN_SAT",
    "APP_PAYMENT_JOURNAL_PATH",
    "APP_PAYMENT_MAX_INFLIGHT_WINDOW_S",
    "APP_PAYMENT_MODE",
    "APP_PAYMENT_PER_PAYMENT_MAX_SAT",
    "APP_PAYMENT_PURPOSES_ALLOWED",
    "APP_PAYMENT_RESERVE_FLOOR_SAT",
    "APP_PAYMENT_VAULT_KEY",
    "APP_PAYMENT_VAULT_PATH",
    "APP_PAY_DEFAULT_EXPIRY_SECONDS",
    "APP_PAY_ENABLED",
    "APP_PAY_MAX_AMOUNT_SAT",
    "APP_PAY_MAX_OPEN_REQUESTS",
    "APP_PAY_POLL_INTERVAL_SECONDS",
    "APP_PAY_PURPOSE",
    "APP_PAY_STORE_PATH",
    "APP_PAY_WEBHOOK_SECRET",
    "APP_PIPELINE_INTERVAL_MINUTES",
    "APP_PIPELINE_PROVIDER",
    "APP_PREREG_ENABLED",
    "APP_PREREG_LEDGER_PATH",
    "APP_TRADINGVIEW_PRICE_FALLBACK_ENABLED",
    "BINANCE_BASE_URL",
    "BINANCE_ENABLED",
    "BINANCE_FRESHNESS_THRESHOLD_SECONDS",
    "BINANCE_MAX_RETRIES",
    "BINANCE_TIMEOUT_SECONDS",
    "EXECUTION_APPROVAL_REQUIRED",
    "EXECUTION_ASSET_ROTATION_GATE_MODE",
    "EXECUTION_ASSET_ROTATION_GATE_ROUTES",
    "EXECUTION_DRY_RUN",
    "EXECUTION_DUAL_STREAM_DIAGNOSTICS",
    "EXECUTION_DUAL_STREAM_DRIFT_BPS",
    "EXECUTION_ENTRY_MODE",
    "EXECUTION_EXECUTION_TIMEOUT_SECONDS",
    "EXECUTION_LIVE_ENABLED",
    "EXECUTION_MAX_DAILY_PAPER_ENTRIES",
    "EXECUTION_MAX_ORDER_RETRIES",
    "EXECUTION_MODE",
    "EXECUTION_OPERATOR_SIGNAL_APPROVAL_ENABLED",
    "EXECUTION_OPERATOR_SIGNAL_APPROVAL_HMAC_SECRET",
    "EXECUTION_OPERATOR_SIGNAL_APPROVAL_TTL_MINUTES",
    "EXECUTION_OPERATOR_SIGNAL_BRIDGE_ENABLED",
    "EXECUTION_OPERATOR_SIGNAL_ENTRY_TOLERANCE_PCT",
    "EXECUTION_OPERATOR_SIGNAL_PREMIUM_AUTO_FILL_ENABLED",
    "EXECUTION_OPERATOR_SIGNAL_SOURCE_ALLOWLIST",
    "EXECUTION_OPERATOR_SIGNAL_TTL_HOURS",
    "EXECUTION_ORDER_TTL_SECONDS",
    "EXECUTION_PAPER_FEE_PCT",
    "EXECUTION_PAPER_FROZEN",
    "EXECUTION_PAPER_INITIAL_EQUITY",
    "EXECUTION_PAPER_SLIPPAGE_PCT",
    "EXECUTION_POSITION_MONITOR_ENABLED",
    "EXECUTION_POSITION_MONITOR_INTERVAL_SECONDS",
    "EXECUTION_REGIME_EXIT_ENABLED",
    "EXECUTION_REGIME_EXIT_MAX_HOLD_SECONDS",
    "EXECUTION_SHADOW_DIAGNOSTICS",
    "EXECUTION_SHADOW_REAL_GENERATOR",
    "EXECUTION_UNIVERSE_ELIGIBILITY_ENFORCE",
    "EXPLORATION_BROWSER_USER_AGENT",
    "EXPLORATION_DUMMY_ENABLED",
    "EXPLORATION_USER_AGENT",
    "GEMINI_MODEL",
    "GEMINI_TIMEOUT",
    "INGESTION_TELEGRAM_CHANNEL_API_HASH",
    "INGESTION_TELEGRAM_CHANNEL_API_ID",
    "INGESTION_TELEGRAM_CHANNEL_CHECKPOINT_PATH",
    "INGESTION_TELEGRAM_CHANNEL_ENABLED",
    "INGESTION_TELEGRAM_CHANNEL_HEARTBEAT_PATH",
    "INGESTION_TELEGRAM_CHANNEL_HEARTBEAT_STALE_SECONDS",
    "INGESTION_TELEGRAM_CHANNEL_POLL_BACKSTOP_SECONDS",
    "INGESTION_TELEGRAM_CHANNEL_RAW_LOG_PATH",
    "INGESTION_TELEGRAM_CHANNEL_SESSION_PATH",
    "INGESTION_TELEGRAM_CHANNEL_SOURCE_TAG",
    "INGESTION_TELEGRAM_CHANNEL_TARGET_CHAT_ID",
    "INGESTION_TELEGRAM_CHANNEL_TARGET_TITLE",
    "INGESTION_TELEGRAM_CHANNEL_VERBOSE_OBSERVER",
    "KAI_INFERENCE_BACKOFF_BASE_SECONDS",
    "KAI_INFERENCE_BACKOFF_MAX_SECONDS",
    "KAI_INFERENCE_JITTER_MAX_SECONDS",
    "KAI_INFERENCE_LITELLM_API_KEY",
    "KAI_INFERENCE_LITELLM_BASE_URL",
    "KAI_INFERENCE_MAX_ATTEMPTS",
    "KAI_INFERENCE_ROUTE_ALIASES",
    "KAI_INFERENCE_TIMEOUT_SECONDS",
    "KAI_LLM_CONTEXT_ALLOWLIST",
    "KAI_LLM_MAX_TOKENS",
    "KAI_LLM_TIMEOUT_S",
    "MESSARI_API_KEY",
    "MOMENTUM_UNIVERSE_FEED_ENABLED",
    "MOMENTUM_UNIVERSE_FEED_MAX_PER_RUN",
    "MOMENTUM_UNIVERSE_FEED_SCHEDULER_ENABLED",
    "MOMENTUM_UNIVERSE_FEED_SCHEDULER_INTERVAL_SECONDS",
    "MOMENTUM_UNIVERSE_FEED_TOP_N",
    "OPERATOR_COMMAND_AUDIT_LOG",
    "OPERATOR_SIGNAL_APPEND_DECISION_ENABLED",
    "OPERATOR_SIGNAL_AUTO_RUN_ENABLED",
    "OPERATOR_SIGNAL_AUTO_RUN_MODE",
    "OPERATOR_SIGNAL_AUTO_RUN_PROVIDER",
    "OPERATOR_SIGNAL_EXCHANGE_DEAD_LETTER_LOG",
    "OPERATOR_SIGNAL_EXCHANGE_OUTBOX_LOG",
    "OPERATOR_SIGNAL_EXCHANGE_RELAY_API_KEY",
    "OPERATOR_SIGNAL_EXCHANGE_RELAY_ENDPOINT",
    "OPERATOR_SIGNAL_EXCHANGE_RELAY_MAX_ATTEMPTS",
    "OPERATOR_SIGNAL_EXCHANGE_RELAY_TIMEOUT_SECONDS",
    "OPERATOR_SIGNAL_EXCHANGE_SENT_LOG",
    "OPERATOR_SIGNAL_FORWARD_TO_EXCHANGE_ENABLED",
    "OPERATOR_SIGNAL_HANDOFF_LOG",
    "OPERATOR_TELEGRAM_DASHBOARD_URL",
    "OPERATOR_TELEGRAM_DRY_RUN",
    "OPERATOR_TELEGRAM_LONG_POLL_TIMEOUT_SECONDS",
    "OPERATOR_TELEGRAM_POLLING_ENABLED",
    "OPERATOR_TELEGRAM_POLL_INTERVAL_SECONDS",
    "PREMIUM_ALLOW_PAPER_WHILE_ENTRY_DISABLED",
    "PREMIUM_APPLY_SIGNAL_LEVERAGE",
    "PREMIUM_ENTRY_DISABLED_OVERRIDE_ACK",
    "PREMIUM_FASTLANE_ALLOWED_EXCHANGES",
    "PREMIUM_FASTLANE_ALLOW_ENTRY_MODE_DISABLED_OVERRIDE",
    "PREMIUM_FASTLANE_ATTACH_SL_TP",
    "PREMIUM_FASTLANE_BACKFILL_IGNORE_TTL_FOR_PAPER",
    "PREMIUM_FASTLANE_BACKFILL_MAX_AGE_HOURS",
    "PREMIUM_FASTLANE_BYPASS_ENTRY_MODE_FOR_PAPER",
    "PREMIUM_FASTLANE_BYPASS_FORWARD_PRECISION_GATES",
    "PREMIUM_FASTLANE_BYPASS_MANUAL_APPROVAL",
    "PREMIUM_FASTLANE_BYPASS_PRIORITY_TIER_GATES",
    "PREMIUM_FASTLANE_BYPASS_RISK_QUALITY_GATES",
    "PREMIUM_FASTLANE_BYPASS_SOURCE_ALLOWLIST",
    "PREMIUM_FASTLANE_BYPASS_SOURCE_QUALITY_GATES",
    "PREMIUM_FASTLANE_DEFAULT_LEVERAGE",
    "PREMIUM_FASTLANE_DEFAULT_NOTIONAL_USDT",
    "PREMIUM_FASTLANE_DUPLICATE_WINDOW_MINUTES",
    "PREMIUM_FASTLANE_DURATION_DAYS",
    "PREMIUM_FASTLANE_ENABLED",
    "PREMIUM_FASTLANE_FALLBACK_TO_LOCAL_TP_SL_MONITOR",
    "PREMIUM_FASTLANE_LIVE_ENABLED",
    "PREMIUM_FASTLANE_MAX_LEVERAGE",
    "PREMIUM_FASTLANE_MAX_NOTIONAL_USDT",
    "PREMIUM_FASTLANE_MAX_OPEN_POSITIONS",
    "PREMIUM_FASTLANE_MAX_PER_SYMBOL_OPEN_POSITIONS",
    "PREMIUM_FASTLANE_MIN_NOTIONAL_USDT",
    "PREMIUM_FASTLANE_MODE",
    "PREMIUM_FASTLANE_ORDER_MODE",
    "PREMIUM_FASTLANE_PAPER_EQUITY_USDT",
    "PREMIUM_FASTLANE_REQUIRE_ENTRY",
    "PREMIUM_FASTLANE_REQUIRE_LEVERAGE",
    "PREMIUM_FASTLANE_REQUIRE_SCHEMA_VALID",
    "PREMIUM_FASTLANE_REQUIRE_SL",
    "PREMIUM_FASTLANE_REQUIRE_TARGETS",
    "PREMIUM_FASTLANE_ROUTING_PRIORITY",
    "PREMIUM_FASTLANE_SIMULATED_EXCHANGE_FALLBACK",
    "PREMIUM_FASTLANE_START_DATE",
    "PREMIUM_FASTLANE_USE_OCO_IF_AVAILABLE",
    "PREMIUM_FASTLANE_USE_REDUCE_ONLY_TPS",
    "PREMIUM_FILL_AT_SIGNAL_ENTRY",
    "PREMIUM_LIVE_CANARY_EXPLICIT_ACK",
    "PREMIUM_LIVE_EXECUTION_ENABLED",
    "PREMIUM_PAPER_EXECUTION_ENABLED",
    "PREMIUM_PAPER_ROUTE_MAX_NOTIONAL_PER_DAY_USD",
    "PREMIUM_PAPER_ROUTE_MAX_OPEN_POSITIONS",
    "PREMIUM_PAPER_ROUTE_MAX_TRADES_PER_HOUR",
    "PREMIUM_REQUIRE_MANUAL_APPROVAL_FOR_LIVE",
    "PREMIUM_REQUIRE_MANUAL_APPROVAL_FOR_PAPER",
    "REAL_ANALYSIS_PAPER_ALLOW_PAPER_WHILE_ENTRY_DISABLED",
    "REAL_ANALYSIS_PAPER_ENABLED",
    "REAL_ANALYSIS_PAPER_ENTRY_DISABLED_OVERRIDE_ACK",
    "REAL_ANALYSIS_PAPER_FRESHNESS_MAX_AGE_HOURS",
    "REAL_ANALYSIS_PAPER_MAX_DAILY_PAPER_ENTRIES",
    "REAL_ANALYSIS_PAPER_MIN_PRIORITY",
    "REAL_ANALYSIS_PAPER_PAPER_ROUTE_MAX_NOTIONAL_PER_DAY_USD",
    "REAL_ANALYSIS_PAPER_PAPER_ROUTE_MAX_OPEN_POSITIONS",
    "REAL_ANALYSIS_PAPER_PAPER_ROUTE_MAX_TRADES_PER_HOUR",
    "RE_ENTRY_MODE_ENABLED",
    "RE_ENTRY_MODE_ENFORCE_OBSERVABILITY_COMPLETE",
    "RE_ENTRY_MODE_ENFORCE_PROVENANCE_SECRET",
    "RE_ENTRY_MODE_ENFORCE_REPLAY_CACHE_ABSOLUTE_PATH",
    "RE_ENTRY_MODE_ENFORCE_REPLAY_CACHE_PERSISTENT",
    "RE_ENTRY_MODE_ENFORCE_WATCHDOG_HEARTBEAT",
    "RISK_ALLOW_AVERAGING_DOWN",
    "RISK_ALLOW_MARTINGALE",
    "RISK_ATR_MULTIPLIER",
    "RISK_BAYES_CONFIDENCE_ENABLED",
    "RISK_BAYES_CONFIDENCE_SHADOW_ONLY",
    "RISK_CHURN_COOLDOWN_MIN",
    "RISK_CHURN_LOSS_STREAK_MULTIPLIER",
    "RISK_CHURN_LOSS_STREAK_THRESHOLD",
    "RISK_CHURN_MAX_NOTIONAL_TURNOVER_PER_HOUR",
    "RISK_CHURN_MAX_TRADES_PER_SYMBOL_PER_HOUR",
    "RISK_CHURN_PROBE_TRADES_PER_HOUR",
    "RISK_COOLDOWN_AFTER_ERROR_MINUTES",
    "RISK_COOLDOWN_AFTER_LOSS_MINUTES",
    "RISK_INITIAL_EQUITY",
    "RISK_KILL_SWITCH_ENABLED",
    "RISK_MAX_BAYES_UNCERTAINTY",
    "RISK_MAX_DAILY_LOSS_PCT",
    "RISK_MAX_LEVERAGE",
    "RISK_MAX_NOTIONAL_PER_TRADE_USD",
    "RISK_MAX_OPEN_POSITIONS",
    "RISK_MAX_POSITION_SIZE_PCT",
    "RISK_MAX_RISK_PER_TRADE_PCT",
    "RISK_MAX_TOTAL_DRAWDOWN_PCT",
    "RISK_MIN_BAYES_CONFIDENCE",
    "RISK_MIN_NOTIONAL_USD",
    "RISK_MIN_SIGNAL_CONFIDENCE",
    "RISK_MIN_SIGNAL_CONFLUENCE_COUNT",
    "RISK_MIN_SL_COST_MULTIPLE",
    "RISK_MIN_STOP_PCT_FOR_SIZING",
    "RISK_POST_STOP_COOLDOWN_MIN",
    "RISK_REGIME_FILTER_ENABLED",
    "RISK_REGIME_SIZE_ENABLED",
    "RISK_REGIME_SIZE_MULTIPLIERS",
    "RISK_REGIME_SMA_PERIOD",
    "RISK_REQUIRE_STOP_LOSS",
    "RISK_ROUND_TRIP_FEE_PCT",
    "RISK_TP_ATR_MULTIPLIER",
    "RISK_UNLOCK_PROXIMITY_ENABLED",
    "RISK_UNLOCK_PROXIMITY_HOURS",
    "RISK_UNLOCK_PROXIMITY_MULTIPLIER",
    "RISK_UNLOCK_PROXIMITY_SHADOW_ONLY",
    "SOURCE_CRYPTO_RELEVANCE_GATE_MODE",
    "SOURCE_DISCOVERY_ENABLED",
    "SOURCE_GRADUATION_DELIVERY_RECLAMATION_ENABLED",
    "SOURCE_LIFECYCLE_APPLY_ENABLED",
    "SOURCE_SCOUT_ENABLED",
    "TECHNICAL_PAPER_ENABLED",
    "TECHNICAL_PAPER_FRESHNESS_MAX_AGE_HOURS",
    "TECHNICAL_PAPER_MAX_PER_RUN",
    "TECHNICAL_PAPER_MIN_STRENGTH",
    "TECHNICAL_PAPER_PAPER_ROUTE_MAX_NOTIONAL_PER_DAY_USD",
    "TECHNICAL_PAPER_PAPER_ROUTE_MAX_OPEN_POSITIONS",
    "TECHNICAL_PAPER_PAPER_ROUTE_MAX_TRADES_PER_HOUR",
    "TECHNICAL_PAPER_SCHEDULER_ENABLED",
    "TECHNICAL_PAPER_SCHEDULER_INTERVAL_SECONDS",
    "THIRD_PARTY_BAFIN_AUTHORIZATION_REF",
    "THIRD_PARTY_SERVICE_ENABLED",
    "TRADINGVIEW_BRIDGE_HMAC_SECRET",
    "TRADINGVIEW_BRIDGE_SCHEDULER_ENABLED",
    "TRADINGVIEW_BRIDGE_SCHEDULER_INCLUDE_SMOKE",
    "TRADINGVIEW_BRIDGE_SCHEDULER_INTERVAL_SECONDS",
    "TRADINGVIEW_DATAFEED_ENABLED",
    "TRADINGVIEW_DATAFEED_EXCHANGE",
    "TRADINGVIEW_PENDING_DECISIONS_LOG",
    "TRADINGVIEW_PROMOTED_CONSUMER_ENABLED",
    "TRADINGVIEW_PROMOTED_SIGNALS_LOG",
    "TRADINGVIEW_PROMOTED_SIGNAL_AUDIT_LOG",
    "TRADINGVIEW_WEBHOOK_AUDIT_LOG",
    "TRADINGVIEW_WEBHOOK_AUTH_MODE",
    "TRADINGVIEW_WEBHOOK_AUTO_PROMOTE_ENABLED",
    "TRADINGVIEW_WEBHOOK_ENABLED",
    "TRADINGVIEW_WEBHOOK_EVENT_ID_CACHE_SIZE",
    "TRADINGVIEW_WEBHOOK_EVENT_ID_WINDOW_SECONDS",
    "TRADINGVIEW_WEBHOOK_PENDING_SIGNALS_LOG",
    "TRADINGVIEW_WEBHOOK_RATE_LIMIT_THRESHOLD",
    "TRADINGVIEW_WEBHOOK_RATE_LIMIT_WINDOW_SECONDS",
    "TRADINGVIEW_WEBHOOK_REPLAY_CACHE_DB_PATH",
    "TRADINGVIEW_WEBHOOK_REPLAY_CACHE_PERSISTENT",
    "TRADINGVIEW_WEBHOOK_REPLAY_CACHE_SIZE",
    "TRADINGVIEW_WEBHOOK_REPLAY_WINDOW_SECONDS",
    "TRADINGVIEW_WEBHOOK_SIGNAL_ROUTING_ENABLED",
    "TRADINGVIEW_WEBHOOK_STRICT_TS_SKEW_SECONDS",
    "X_BEARER_TOKEN"
  ]
}
